/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

#title{
  background-image: url('../images/wave.gif');
  text-align: center;
  height:220px;
  background-repeat: no-repeat;
  background-position: center top;  
  position:relative;
}
#title h2{
  padding-top: 88px;
  color: white;
  text-shadow: 0 0 15px white;
  margin-bottom: 100px;
}
#skins-list li{
  margin: 20px;
  padding: 0px;
  font-weight: bold;
  font-size: 1.5em;
  width: 200px;
}
.pink{
  color: #ff0084;
}
.green{
  color: #83C441;
}
.rounded{
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius:10px 10px 10px 10px;
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


